:root {
  --background: #0b2027;
  --menuText: #ffffff;
  --hoverMenuText: black;
  --dropdownBackground: #4f5d75;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
}
.column {
  float: left;
  padding: 10px;
}
.left {
  width: 25%;
  margin-left: 20px;
}

.right {
  width: 65%;
}
.navbar {
  background-color: transparent;
  font-family: "Bungee", cursive;
  position: fixed;
  display: inline-block;
  width: 100vw;
  border-radius: 1vw;
  background-color: transparent;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: var(--menuText);

  padding: 0.5vw 2vw;
  text-decoration: none;
  margin: 1vw;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px !important;
  padding: 0.5vw 2vw;
  border: none;
  outline: none;
  color: var(--menuText);
  background-color: inherit;
  font-family: inherit;
  margin: 1vw;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--menuText);
  opacity: 1;
  border-radius: 1.5vw;
  animation: changeColor 0.3s;
  box-shadow: 2vw 1vw 0px 0px rgba(0, 0, 0, 0.5);
  color: var(--hoverMenuText);
}
@keyframes changeColor {
  from {
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    color: var(--menuText);
  }
  to {
    background-color: #e7f6f2;
    box-shadow: 2vw 1vw 0px 0px rgba(0, 0, 0, 0.5);
    color: var(--hoverMenuText);
  }
}

.dropdown-content {
  display: none;
  float: right;
  position: absolute;
  background-color: palevioletred;
  min-width: 10vw;
  box-shadow: 2vw 1vw 0px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 1.5vw;
  transform: translate(1vw);
}

.dropdown-content a {
  float: none;
  color: black;

  text-decoration: none;
  display: block;
  text-align: left;
  opacity: 1;
}

.dropdown-content a:hover {
  background-color: #e7f6f2;
  opacity: 1;
  box-shadow: 2vw 1vw 0px 0px rgba(0, 0, 0, 0.5);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.span-left {
  float: left;
}
.name {
  position: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vw;
  justify-content: center;
  color: white;
  font-size: 56px;
  display: inline-flex;
  font-family: "Bungee", cursive;
  padding-bottom: 0px !important;
}
.description {
  color: white;
  border-radius: 2vw;
  float: right;
  padding-top: 0px !important;
  text-align: right;
  margin-right: 80px;
  font-size: 32px;
  margin-bottom: 200px;
  font-family: "Open Sans", sans-serif;
}
.about {
  line-height: 1em;
  position: inline-block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 40px;
  display: flex;
  font-family: "Bungee", cursive;
}
div.invisible {
  opacity: 0;
}
.name:not(.invisible) div:hover,
.about:not(.invisible) div:hover {
  cursor: crosshair;
  animation: changeText 0.3s;
  color: palevioletred;
  text-shadow: 2vw 1vw rgba(0, 0, 0, 0.5);
}
@keyframes changeText {
  from {
    text-shadow: 0vw 0vw #000000;
    color: #a5c9ca;
  }
  to {
    text-shadow: 2vw 1vw rgba(0, 0, 0, 0.5);
    color: palevioletred;
  }
}
.dropdown .dropbtn {
  font-size: 1rem;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.content {
  padding: 16px;
}
.sticky + .content {
  padding-top: 60px;
}
img {
  display: inline-block;
  padding: 0px !important;
  margin-top: 10vw;
  border-radius: 50%;
  box-shadow: 2vw 1vw 0px rgba(0, 0, 0, 0.5);
  size: 10px;
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
