*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{background-color: #2C3333;

}

.navbar {
    overflow: hidden;
    background-color: #2C3333;
    font-family: 'Bree Serif', serif;
    padding-bottom: 10px;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    font-size: 16px;
    color: #A5C9CA;
    text-align: right;
    padding: 16px 37px;
    text-decoration: none;
    margin:5px;

    
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    
    color:#A5C9CA;
    padding: 16px 37px;
    background-color: inherit;
    font-family: inherit;
    margin: 5px;
    
    
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #E7F6F2;
    
    opacity: 1;
    border-radius: 10px;
    
    animation:changeColor 0.3s ;
    box-shadow: 12px 8px 0px 0px rgba(0, 0, 0, 0.5);
    color: black;

}
@keyframes changeColor{
    from{background-color: #2C3333;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);color: #A5C9CA;}
    to{background-color:#E7F6F2;box-shadow:12px 8px 0px 0px rgba(0, 0, 0, 0.5) ;color: black;}
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    float: right;
    position:absolute;
    background-color: palevioletred;
    min-width: 160px;
    box-shadow: 12px 8px 0px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
    transform:translate(5px);
    
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    
    text-decoration: none;
    display: block;
    text-align: left;
    opacity: 1;
    

    
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #E7F6F2;
    opacity: 1;
    box-shadow: 12px 8px 0px 0px rgba(0, 0, 0, 0.5)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    transform: 10px, 1000px;
    
}
a.material-symbols-sharp{
    opacity: 1;
}

.span-left{
    float: left;

}
